@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

:root{
	--bcolor:#00B9E2;
	--wcolor: rgba(255,255,255,.80);
	--dwcolor:#ffffff;
	--dcolor:#000000;
	--ldcolor:#091111;
	--tdcolor:#121A1B;
	--gcolor:#273436;
	--lgcolor:#576465;
	--orange: #FFBE00
}

.bcolor{
	color: var(--bcolor)!important;
}
.wcolor{
	color: var(--wcolor);
}
.dwcolor{
	color: var(--dwcolor);
}
.dcolor{
	color: var(--dcolor);
}

.ldcolor{
	color: var(--ldcolor);
}
.gcolor{
	color: var(--gcolor);
}

.lgcolor{
	color: var(--lgcolor);
}

.bbgcolor{
	background-color: var(--bcolor);
}
.wbgcolor{
	background-color: var(--wcolor);
}
.dbgcolor{
	background-color: var(--dcolor);
}
.ldbgcolor{
	background-color: var(--ldcolor);
}

.gbgcolor{
	background-color: var(--gcolor);
}

@font-face {
  font-family: SFProDisplay-Black;
  src: url(../public/fonts/FontsFree-Net-SFProDisplay-Black.ttf);
}

@font-face {
  font-family: SFProDisplay-Bold;
  src: url(../public/fonts/FontsFree-Net-SFProDisplay-Bold.ttf);
}

@font-face {
  font-family: SFProDisplay-Heavy;
  src: url(../public/fonts/FontsFree-Net-SFProDisplay-Heavy.ttf);
}

@font-face {
  font-family: SFProDisplay-Light;
  src: url(../public/fonts/FontsFree-Net-SFProDisplay-Light.ttf);
}

@font-face {
  font-family: SFProDisplay-Medium;
  src: url(../public/fonts/FontsFree-Net-SFProDisplay-Medium.ttf);
}

@font-face {
  font-family: SFProDisplay-Regular;
  src: url(../public/fonts/FontsFree-Net-SFProDisplay-Regular.ttf);
}

small {
	font-size: 12px;
}


*{
	margin:0;
	padding:0;
}

a{
	color: var(--dwcolor);
    text-decoration: none;
}

a:hover{
	color: var(--bcolor);
    text-decoration: none;
}

p {
	color: rgba(255,255,255,.55);
	line-height: 28px;
	text-align: justify;
}

body {
	background: #121A1B;
	font-family: SFProDisplay-Regular;

}

.obj_fit_cover {
	object-fit: cover;
}

.topBar {
	height: 50px;
	line-height: 50px;
}

.lborder {
	border-color: var(--gcolor)!important;
}


.rounded {
    border-radius: .8rem!important;
}

.rounded2 {
    border-radius: 1.6rem!important;
}

.crclBtn {
	padding: 8px 27px;
	border-radius: 30px;
	color: white;
	background:var(--bcolor);
}

.crclBtn:hover {
	background: white;
	color: var(--bcolor);
}

.outerShadowBtn {
	box-shadow: -6px -3px 15px 0px #3a3a3a, 7px 7px 15px 0px #070707;
	color: var(--wcolor);
}

.outerShadowBtn:hover {
	color: var(--bcolor);
}

.inShadowBox {
	position: relative;
	box-shadow: inset 2px 2px 4px 0px #070707, inset -2px -2px 4px 0px #3a3a3a;
}

.outShadowBox {
	box-shadow: -6px -3px 15px 0px #3a3a3a, 7px 7px 15px 0px #070707;
}

.outShadowBox_after {
	position: relative;
}

.outShadowBox_after:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: -6px -3px 15px 0px #3a3a3a, 7px 7px 15px 0px #070707;
	border-radius: .8rem;
	left: 0;
    top: 0;
    z-index: -1;
}


.topBar .list_row span.label {
	z-index: 1;
	background: var(--bcolor);
}

.topBar .list_row ul li:not(:last-child) {
	margin-right: 50px;
}

.topBar .list_row ul li a {
	color: var(--wcolor);
	text-decoration: none;
	font-size: 14px;
}

.topBar .list_row ul li a:hover {
	color: var(--bcolor);
}

.price_range {
	padding: 10px 12px;
}

.search i{
	color: var(--lgcolor);
	top: 13px;
    left: 17px;
    font-size: 18px;
}

.search input{
	padding-top:10px;
	padding-bottom:10px;
	color: var(--lgcolor)
}

/*.search input{}*/
.form-control:focus {
	color: var(--lgcolor);
	border-color: transparent;
	box-shadow: inset 2px 2px 4px 0px #070707, inset -2px -2px 4px 0px #3a3a3a;

}

.logo img {
	width: 200px;
}

.menu ul li:not(:last-child) {
	margin-right: 5px;
}
.menu ul li a{
	padding: 7px 18px!important;
	font-size: 14px;
	color: var(--wcolor)!important;
	letter-spacing: 1px;
	
}

/*.menu ul li.dropdown a {
	pointer-events: none;
}*/
.menu .collapse  > ul > li:not(:last-child) > a:hover,
.menu ul li a.active {
	border-radius: .8rem;
	box-shadow: inset 2px 2px 4px 0px #070707, inset -2px -2px 4px 0px #3a3a3a;
	color: var(--bcolor)!important;
}

.menu .collapse  > ul > li > .dropdown-menu {
	min-width: 20rem;
	padding: 20px;
	border-radius: .8rem;
	box-shadow: -6px -3px 15px 0px #3a3a3a, 7px 7px 15px 0px #070707;
	background: var(--tdcolor);
	border:0;
	margin-top: 200px;
	visibility: hidden;
	opacity: 0;
	display: inherit;
	transition: all 0.5s ease;
}

.menu .collapse  > ul > li > .dropdown-menu:before {
	content: "";
    position: absolute;
    top: -20px;
    border-style: solid;
    border-color: transparent;
    z-index: 99;
    border-width: 10px;
    border-bottom-color: var(--tdcolor);
}

.menu .collapse  > ul > li > .dropdown-menu li:not(:last-child) {
	margin-bottom: 10px;
}

.menu .collapse  > ul > li > .dropdown-menu li a{
	padding: 11px 15px!important;
	border-radius: .8rem;
	font-size: 16px;	
}

.menu .collapse  > ul > li > .dropdown-menu li a:hover{
	background: var(--gcolor);
}

.menu .collapse  > ul > li:hover > .dropdown-menu {
	margin-top: 20px;
	visibility: visible;
	opacity: 1;
}
.menu ul li a.login_btn {
	padding: 5px 20px!important;
	border-radius: 30px;
	background: var(--bcolor);
	color: var(--wcolor)!important;
}

.post_box img,
.slider_section .single_post .img img {
	height: 200px;
	object-fit: cover;
}

.post_box p,
.slider_section .single_post p {
	height: 112px;
	overflow: hidden;
}

.ver_post_box a:hover,
.post_box a.title:hover,
.slider_section .single_post a.title:hover {
	color: var(--bcolor)!important;
}
.ver_post_box a.title,
.post_box a.title,
.slider_section .single_post a.title{
	height: 45px;
    display: block;
    line-height: 24px;
}

.big_post img,
#topSlider img {
	height: 429px;
	object-fit: cover;
}

.ver_post_box strong {
	font-size: 14px;
	font-weight: 100;
}

.ver_post_box p {
	font-size: 14px;
}

.ver_post_box img {
	height: 185px;
	object-fit: cover;
}

#topSlider .carousel-inner {
	width: inherit;
}

.big_post .text_box p,
#topSlider .carousel-caption p {
	color: #869090;
	font-size: 15px;
}
.big_post .text_box,
#topSlider .carousel-caption {
	left: 0;
	right: inherit;
	width: 100%;
	text-align: left;
	padding: 1.25rem!important;
	bottom: 0;
	z-index: 2;
	margin:0;
	border-radius: 0;
	opacity: 1;
	background: transparent;
}

#topSlider .carousel-caption h3 {
	font-size: 1.25rem;
}

#topSlider .carousel-control-next,
#topSlider .carousel-control-prev{
	top: 50%;
	margin-top: -25px;
    bottom: inherit;
    opacity: 1;
    display: inline-block;
    width: auto;
    z-index: 999;

}

#topSlider .carousel-control-prev {
	left: 10px
}
#topSlider .carousel-control-next {
	right: 10px
}

#topSlider .carousel-control-prev-icon,
#topSlider .carousel-control-next-icon{
	width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: var(--tdcolor);
    font-size: 15px;
    border-radius: .8rem;
    /*overflow: hidden;*/
}


#topSlider .carousel-control-prev-icon:after,
#topSlider .carousel-control-next-icon:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: -6px -3px 15px 0px #3a3a3a, 7px 7px 15px 0px #070707;
	border-radius: .8rem;
	left: 0;
    top: 0;
    z-index: -1;
}
.big_post .text_box:before,
#topSlider .carousel-caption:before {
	content: "";
    position: absolute;
    height: calc(100% + 100px);
    width: 100%;
    left: 0px;
    top: -100px;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.9) 65%);
    z-index: -1;
}

.top_picks .user {
	display: flex;
	align-items: center;
}

.top_picks .user img {
	width: 30px;
	height: 30px;
	border-radius: 50px;
	margin-right: 10px;
}
/* width */
.listasnews .list::-webkit-scrollbar,
.bitcoin_news .list::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.listasnews .list::-webkit-scrollbar-track,
.bitcoin_news .list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.listasnews .list::-webkit-scrollbar-thumb,
.bitcoin_news .list::-webkit-scrollbar-thumb {
  background: var(--bcolor);
}
.listasnews .list,
.bitcoin_news .list {
	height: 425px;
    overflow: auto;
}

.news .bitcoin_news .list {
	height: 540px;
} 

.listasnews .list ul li a,
.bitcoin_news .list ul li a {
	padding: 20px 30px 20px 0;
	display: flex;
	border-bottom: 1px dashed var(--lgcolor);
	text-decoration: none;
	color: var(--wcolor);
}

.listasnews .list ul li:first-child a,
.bitcoin_news .list ul li:first-child a {
	padding-top: 0;
}

.listasnews .list ul li a h6,
.bitcoin_news .list ul li a h6 {
	font-size: 14px;
	line-height: 23px;
}

.listasnews .list ul li a:hover h6,
.bitcoin_news .list ul li a:hover h6 {
	color: var(--bcolor);
}

.listasnews .list ul li a img,
.bitcoin_news .list ul li a img{
	width: 120px;
	height: 80px;
	object-fit: cover;
	display: block;
}

.listasnews .list ul li a small,
.bitcoin_news .list ul li a small{
	color: var(--lgcolor)
}

.box_head {
	position: relative;
}

.box_head:after {
	position: absolute;
    height: 1px;
    background: var(--bcolor);
    content: "";
    width: 20px;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
}


/* .curreny_status .tabs {
	display: flex;
	padding: 0 20px;
}

.curreny_status .tabs a{
	flex : 1;
	text-align: center;
	padding: 10px;
	border-top: 1px solid var(--gcolor);
	border-bottom: 1px solid var(--gcolor);
} */

/* .curreny_status .tabs a:first-child{
	border:0;
	border-top-left-radius: .8rem;
	border-bottom-left-radius: .8rem;
}

.curreny_status .tabs a:last-child{
	border-right:1px solid var(--gcolor);
	border-top-right-radius: .8rem;
	border-bottom-right-radius: .8rem;
}

.curreny_status .tabs a.active{
	box-shadow: inset 2px 2px 4px 0px #070707, inset -2px -2px 4px 0px #3a3a3a;
	border: 0;
} */

/* .curreny_status .tabs a.active{
	box-shadow: inset 2px 2px 4px 0px #070707, inset -2px -2px 4px 0px #3a3a3a;
	border: 0;
} */


.curreny_status nav {
	padding: 0 20px;
}

.pressReleas nav a,
.curreny_status nav a{
	flex : 1;
	text-align: center;
	padding: 10px;
	border-top: 1px solid var(--gcolor)!important;
	border-bottom: 1px solid var(--gcolor)!important;
	background: transparent!important;
	border-radius: 0!important;
	/* border-color: var(--gcolor)!important; */
}

.nav-tabs .nav-link {
	border: 0;
}


.pressReleas nav a:focus,
.curreny_status nav a:focus{
	outline: 0;
	border-color: var(--gcolor)!important;
}

.pressReleas nav a:hover,
.curreny_status nav a:hover {
	/* border-left:0;
	border-right:0; */
	border-radius: 0;
	border-left-color: transparent!important;
	border-right-color: transparent!important;
}

.pressReleas nav a.active,
.curreny_status nav a.active{
	box-shadow: inset 2px 2px 4px 0px #070707, inset -2px -2px 4px 0px #3a3a3a;
	border-color: var(--gcolor);
	color: var(--bcolor)!important;
}

.pressReleas nav a:first-child,
.curreny_status nav a:first-child{
	border:0;
	border-top-left-radius: .8rem!important;
	border-bottom-left-radius: .8rem!important;
	border-left:1px solid var(--gcolor)!important;
}

.pressReleas nav a:last-child,
.curreny_status nav a:last-child{
	border-right:1px solid var(--gcolor)!important;
	border-top-right-radius: .8rem!important;
	border-bottom-right-radius: .8rem!important;
}

.eventCal ul li > div:last-child,
.pressReleas ul li > div:last-child {
	max-width: calc(100% - 100px);
	flex: calc(100% - 100px);
}

.curreny_status ul li {
	display: flex;
	padding: 25px 20px;
	align-items: center;
}
.curreny_status ul li:nth-child(even) {
	background: #151D1E;
	border-top: 1px dashed var(--gcolor);
	border-bottom: 1px dashed var(--gcolor);
}

.curreny_status ul li div{
	display: flex;
	flex-direction: column;
	max-width: calc(100%/3);
	flex: 0 0 calc(100%/3);
	
}

/* .curreny_status ul li div span{
	color: var(--lgcolor)
} */

.curreny_status ul li div strong{
	font-size: 14px;
	color: var(--wcolor);
	/* margin-top: 10px; */
}

.curreny_status ul li div:first-child span:first-child{
	color: var(--bcolor);
}


.sideNews ul li {
	display: flex;
	padding: 20px 0;
	border-bottom: 1px dashed var(--gcolor);
}

.sideNews ul li:last-child {
	border-bottom: 0;
}

.sideNews ul li div img{
	width: 80px;
	height: 80px;
	object-fit: cover;
}

.sideNews ul li div a{
	color: var(--wcolor);
	text-decoration: none;
	font-size: 15px;
}

.sideNews ul li div a:hover{
	color: var(--bcolor)
}

.sideNews ul li div span{
	color: var(--lgcolor);
	text-transform: uppercase;
	font-size: 13px;
}
.sideNews ul li > div:last-child{
	margin-left: 20px; 
}

.cryptoGuide ul li div{
	margin-left: 0!important;
}

.airdrop ul {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
}

.airdrop ul li {
	max-width: calc(50% - 20px);
	flex: 0 0 calc(50% - 20px);
	padding: 0;
	margin:10px;
	border:0;
}

.airdrop ul li img {
	width: 100%!important;
	height: 150px!important;
	object-fit: cover;
}

.airdrop ul li {
	position: relative;
}

.airdrop ul li div.text {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	transition: all 0.5s ease;
}

.airdrop ul li:hover div.text {
	opacity: 1;
}

.airdrop ul li div a {
	color: var(--wcolor);
	font-size: 15px;
	font-weight: 600;
}

.sideNews.cryptoNews ul li {
	padding-left: 15px;
}

.sideNews.cryptoNews ul li div {
	margin:0;
	position: relative;
}

.sideNews.cryptoNews ul li div:before {
	position: absolute;
	content: "";
	width: 2px;
	height: 100%;
	left: -15px;
	top: 0;
	background: var(--gcolor)
}

audio::-webkit-media-controls-panel {
	background-color: var(--bcolor);
}

audio:focus {
	outline: 0;
}

.post_author img {
	width: 80px;
	height: 80px;
	border-radius: 5px;
	display: block;
}

.all_news a,
.news_detail a {
	color: var(--wcolor);
	text-decoration: none;
}

.all_news a:hover,
.news_detail a:hover {
	color: var(--bcolor);
}

footer a {
	text-decoration: none;
	color: var(--lgcolor);
}

footer a:hover {
	color: var(--bcolor);
}

footer .nav{
	display: flex;
}

footer .nav a {
	
	padding: 0 20px;
	border-right:1px solid var(--gcolor);
	line-height: 15px;

}

footer .nav a:last-child{
	border-right:0;
}

footer .box ul li {
	margin-bottom: 15px;
}

footer input[type="text"] {
	border-radius: .8rem;
	border-color: var(--gcolor);
	color: var(--gcolor);
	background: transparent;
}

footer input[type="text"]:focus {
	background:transparent;
	box-shadow: none;
	border-color: var(--gcolor);
}

.author_detail_box .social a,
.our_team_section .tab a,
.socials_links a,
footer .foot_socials a {
	display: inline-block;
	margin: 0 10px;
	border-radius: .8rem;
	color: var(--wcolor);
	font-size: 18px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	box-shadow: inset 2px 2px 4px 0px #363636, inset -2px -2px 4px 0px var(--dcolor);
	
	transition: all 0.5s ease;
}

.author_detail_box .social a:hover,
.our_team_section .tab a.active,
.our_team_section .tab a:hover,
.socials_links a:hover,
footer .foot_socials a:hover {
	box-shadow: inset 2px 2px 4px 0px #070707, inset -2px -2px 4px 0px #3a3a3a;
	color: var(--bcolor);
}

.news_de_socials a:last-child,
footer .foot_socials a:last-child {
	margin-right: 0;
}

.news_de_socials a {
	margin: 0 5px;
}

.our_team_section .tab a {
	width: auto;
	height: auto;
	line-height: 30px;
	padding: 5px 30px;
	font-size: 15px;
}

.pill_btns {
	margin-left: -10px;
	margin-right: -10px;
}

.pill_btns a {
	display: inline-block;
	margin: 10px;
	border-radius: 30px;
	padding: 10px 15px;
	background: var(--gcolor);
}

.info_box img.cat_img,
.all_news .leftBox img.cat_img,
.news_detail .rightBox img.cat_img {
	height: 360px;
	object-fit: cover;
}

.sb_foot p {
	font-size: 14px;
}

.pagination li a {
    padding: 9px 25px;
    box-shadow: inset 2px 2px 4px 0px #363636, inset -2px -2px 4px 0px var(--dcolor);
    background: transparent;
    color: var(--lgcolor);
    border: 0;
    margin: 0!important;
}

.pagination li:hover a,
.pagination li.active a {
	color: var(--bcolor)!important;
	background-color: transparent!important;
	border:0!important;
	box-shadow: inset 2px 2px 4px 0px #070707, inset -2px -2px 4px 0px #3a3a3a;
}

.page-item:last-child .page-link {
    border-top-right-radius: .8rem;
    border-bottom-right-radius: .8rem;
}
.page-item:first-child .page-link {
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
}

.innerBanner{
	height: 300px;
	position: relative;
	letter-spacing: 2px;
}

.innerBanner > div:before {
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5)
}
.innerBanner img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}

.innerBanner .content h2{
	font-family: SFProDisplay-Heavy;
	position: relative;
    font-size: 35px;
}

.innerBanner .content h2:before {
	content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: var(--bcolor);
    margin: auto;
    left: 0;
    right: 0;
    bottom: 10px;
}
.innerBanner .content {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100px;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
	z-index: 1;
}

.educatores {
	background:url(../public/images/Group_15906.png);
	background-size: cover;
}

.educatores h4{
	font-size: 30px;
	font-family: SFProDisplay-bold;
	line-height: 45px;
}

/*.our_team_section .tab {
	margin-bottom: 7rem;
}*/

.our_team_section .our_team_body {
	margin-left: -2rem;
	margin-right: -2rem
}

.our_team_section .our_team_body .box {

	max-width: calc(100%/5 - 4rem);
	flex: 0 0 calc(100%/5 - 4rem);
	margin: 6rem 2rem 1rem;
} 

.our_team_section .our_team_body .box .fab {
	transition: all 0.5s ease;
	width: 40px;
	height: 40px;
	line-height: 36px;
	border-radius: 50%;
	font-size: 14px;
	border: 3px solid var(--bcolor);
	color: var(--bcolor);
	background: white;
	position: absolute;
	left: 0;
	right: 0;
	top: -20px;
	margin: auto;
	z-index: 1;
	opacity: 0;
	
}

.our_team_section .our_team_body .box .img {
	transition: all 0.5s ease;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: auto;
	overflow: hidden;
	position: relative;
    margin-top: -100px;
    border: 5px solid transparent;
}

.our_team_section .our_team_body .box .img img {
	width: 100%;
}

.our_team_section .our_team_body .box h6 {
	font-family: SFProDisplay-Bold;
}

.our_team_section .our_team_body .box:hover h6{
	color: var(--bcolor)!important;
}

.our_team_section .our_team_body .box:hover .fab:first-child{
	right: 95px;
	opacity: 1;
}
.our_team_section .our_team_body .box:hover .fab:nth-child(2){
	left: 95px;
	opacity: 1;
}

.our_team_section .our_team_body .box:hover .img {
	border-color: var(--bcolor);
}

.author_detail_box img {
	height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: .8rem;
}

.author_detail_box h3 {
	/*font-family: SFProDisplay-Bold;*/
}

.author_detail_box .social a {
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
}

.author_detail_box .social a:first-child {
	margin-left: 0;
}

.tabs a,
.all_events .tabs a {
	border-radius: .8rem;
	padding: 10px 30px;
	display: inline-block;
	box-shadow: inset 2px 2px 4px 0px #363636, inset -2px -2px 4px 0px var(--dcolor);
	margin-right: 30px;
	font-size: 14px;

}

.tabs a:hover,
.tabs a.active,
.all_events .tabs a:hover,
.all_events .tabs a.active {
	color: var(--bcolor);
	box-shadow: inset 2px 2px 4px 0px #070707, inset -2px -2px 4px 0px #3a3a3a;
}

.sticker,
.all_airdrop .airdrop_box span.sticker,
.all_events .event_box span.sticker {
	z-index: 2;
    transform: rotate(
-47deg
) translate(-34px, -43px);
    padding: 3px 30px;
    color: white;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    overflow: hidden;
}

.sticker:before,
.all_airdrop .airdrop_box span.sticker::before,
.all_events .event_box span.sticker:before {
	position: absolute;
    content: "";
    border-style: solid;
    border-color: transparent;
	border-left-width: 60px;
	border-right-width: 60px;
	border-bottom-width: 45px;
    /* border-bottom-color: var(--bcolor); */
	top: -24px;
    left: 0px;
    z-index: -1;
}

.sticker.blue:before,
.all_airdrop .airdrop_box span.sticker.blue::before,
.all_events .event_box span.sticker.blue:before {
	border-bottom-color: var(--bcolor);
}

.sticker.orange:before,
.all_airdrop .airdrop_box span.sticker.orange::before,
.all_events .event_box span.sticker.orange:before {
	border-bottom-color: var(--orange);
}

.all_airdrop .airdrop_box img,
.dapps .dapps_box img,
.all_events .event_box img {
	object-fit: cover;
	border-radius: 1.6rem;
}

.all_airdrop .airdrop_box h6,
.dapps .dapps_box h6,
.all_events .event_box h6 {
	font-size: 17px;
}

.all_airdrop .airdrop_box span,
.dapps .dapps_box span,
.all_events .event_box span {
	color: var(--lgcolor);
}

.circle_small_social a,
.our_partners .partner_box .social_link a,
.all_airdrop .airdrop_box .social_link a,
.dapps .dapps_box .social_link a,
.all_events .event_box .social_link a{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 13px;
	border-radius: 50%;
	margin-right: 10px;
	border:1px solid var(--gcolor);
	color: var(--wcolor);
}

.circle_small_social a:last-child,
.our_partners .partner_box .social_link a:last-child,
.all_airdrop .airdrop_box .social_link a:last-child,
.dapps .dapps_box .social_link a:last-child,
.all_events .event_box .social_link a:last-child{
	margin-right:0;
}

.circle_small_social a:hover,
.our_partners .partner_box .social_link a:hover,
.all_airdrop .airdrop_box .social_link :hover,
.dapps .dapps_box .social_link a:hover,
.all_events .event_box .social_link a:hover{
	color: var(--bcolor);
}

.counter_section .box i.icon {
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color:var(--bcolor);
	border-radius: .8rem;
	box-shadow: inset 2px 2px 4px 0px #070707, inset -2px -2px 4px 0px #3a3a3a;
	margin-right: 15px;
	font-size: 23px;
}

.counter_section .box h2 {
	font-family: SFProDisplay-bold;
	color: var(--dwcolor);
	font-size: 30px;
}

.counter_section .box i.fa-plus{
	font-size: 10px;
	position: relative;
	top: -6px;
}

.about ul {

	color: rgba(255,255,255,.55);
	line-height: 30px;
}

/* .about .registorBox {
	height: 300px;
}  */

.about .registorBox .center_text{
	z-index: 1;
}

.about .registorBox:before {
	content: "";
	position: absolute;
	left: 0;
	top:0;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	z-index: 1;
}

.about .registorBox .center_text h3{
	font-family: SFProDisplay-bold;
	color: var(--dwcolor);
}

.dark_active_btns a {
	display: inline-block;
	padding: 8px 30px;
	color: var(--wcolor);
	background: var(--gcolor);
	margin-bottom: 10px;
	border-radius: 30px;
	transition: all 0.5s ease;
}

.dark_active_btns a:hover {
	background: var(--bcolor);
}

.dark_active_btns a:not(:last-child) {
	margin-right: 10px;
}

.our_partners .partner_box a.crclBtn {
	font-size: 12px;
}

/* .video_box .img:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1;
} */

.video_box h6{
	line-height: 25px;
}
.video_box .img img{
	opacity: .7;
	position: relative;
	transition: all 0.5s ease;
}

.video_box .img:hover img{
	opacity: 1;
}

.video_box .img:hover i{
	background: var(--bcolor);
	color: var(--dwcolor);
	border-color: var(--bcolor);
}


.video_box i {
	pointer-events: none;
}

.video_box i.fa-play {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	font-size: 20px;
	width: 50px;
	height: 50px;
	line-height: 45px;
	margin-top: -25px;
	margin-left: -25px;
	border-radius: 50%;
	border:3px solid var(--dwcolor);
	color: white;
	z-index: 1;
}

/* .whale_alert .whale_box .head div.text {
	margin-left: 20px;
	max-width: calc(100% - 30px);
	flex: 0 0 calc(100% - 30px);
}

.whale_alert .whale_box img {
	height: 30px;
	width: 30px;
}  */
/*.menu .navbar {
	border-radius: .8rem;
}*/

